/*-------- GLOBAL STYLES --------*/
* {
    box-sizing: border-box;
    color: #5c5b5b;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/*-------- TYPOGRAPHY --------*/
h1, h2, h3 {    /* Other headings are not used */
    font-family: "Playfair Display SC", serif;
    color: #770404;
}

nav {
    margin: 0;
    padding: 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration-line: underline;
}

/*-------- UTILITY ---------*/
.content-width {
    width: 334px;
    margin: auto;
}

.logo-background { /* for those sections including a logo */
    background-color: black;
}

.dark-background {
    background-color: brown;
}

a.button {    
  color: #f1bb08;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 26px 0;
}

/*-------- HEADER --------*/
header * {
    color: rgb(206, 201, 201);
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav {
    display: flex; /* style the toggle button and navigation list */
    align-items: center;
}

header ul {
    display: none;  /* by default, show hamburger nav only */
}

ul.show-items { /* show navigation items when clicking on toggle button */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: xx-small;
}
/*-------- end of HEADER --------*/

