/*-------- GLOBAL STYLES --------*/
* {
    box-sizing: border-box;
    color: #5c5b5b;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

/*-------- TYPOGRAPHY --------*/
h1, h2, h3 {    /* Other headings are not used */
    font-family: "Playfair Display SC", serif;
    color: #770404;
}

nav {
    margin: 0;
    padding: 0;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration-line: underline;
}

/*-------- UTILITY ---------*/
.content-width {
    width: 70%;
    min-width: 334px;
    margin: auto;
    text-align: center;
}

.logo-background { /* for those sections including a logo */
    background-color: black;
}

.dark-background {
    background-color: brown;
}

a.button {    
  color: #f1bb08;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 26px 0;
}

section {
    padding: 10px 0;
}

/*-------- HEADER --------*/
header * {
    color: #cec9c9;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header nav {
    display: flex; /* style the toggle button and navigation list */
    align-items: center;
}

header ul {
    display: none;  /* by default, show hamburger nav only */
}

ul.show-items { /* show navigation items when clicking on toggle button */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    font-size: xx-small;
}
/*-------- end of HEADER --------*/

/*-------- HERO SECTION --------*/
section.hero img {
    width: 100%;
}

section.hero a {
    display: inline-block;
}
/*-------- end of HERO SECTION --------*/

/*-------- ABOUT-US SECTION --------*/
section.about-us h2, h3 {
    color: #f1bb08;
}

section.about-us p {
    color: #cec9c9; 
}

section.about-us img {
    width: 100%;
}

img#who-are-we {
    width: 25%;
    border-radius: 50%;
}
/*-------- end of ABOUT-US SECTION --------*/

/*-------- BENEFITS SECTION --------*/
section.benefits div.benefits {
    padding-top: 20px;
}

section.benefits img {
    width: 50%;
}
/*-------- end of BENEFITS SECTION --------*/

/*-------- CALL-TO-ACTION SECTION --------*/
section.call-to-action h2 {
    color: #f1bb08;
}

section.call-to-action p {
    color: #cec9c9; 
}

section.call-to-action a {
    /* background-color: #302f2f; */
    background-color: black;
    display: inline-block;
}
/*-------- end of CALL-TO-ACTION SECTION --------*/

/*-------- FOOTER --------*/
footer {
    padding-top: 10px;
}

footer * {
    color: #cec9c9;
}

.disclaimer {
    border-top: 1px solid;
    padding: 15px;
}
/*-------- end of FOOTER --------*/

/*-------- LARGE DEVICES (desktops, 1200px and up) ---------*/
@media only screen and (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3.2rem;
    margin: 0;
  }

  h2 {
    font-size: 2.8rem;
    margin: 10px 0;
  }

  h3 {
    font-size: 2.4rem;
    margin: 10px 0;
  }

  .content-width {
    width: 75%;
  }

  /*-------- large HEADER --------*/
  header nav {
    display: initial;
    width: 100%;
  }

  header ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
  }

  .toggle {
    display: none;
  }
  /*-------- end of large HEADER --------*/

  /*-------- large HERO SECTION --------*/
  section.hero {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
  }

  section.hero p {
    font-size: 2.2rem;
    padding: 0;
    margin: 0;
  }

  section.hero img {
    grid-column: 1;
    grid-row: 1/4;
  }

  section.hero a {
    margin: auto;
  }
  /*-------- end of large HERO SECTION --------*/

  /*-------- large ABOUT-US SECTION --------*/
  section.about-us div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
    padding-bottom: 10px;
  }

  section.about-us .sub-about-us {
    border: 1px solid #cec9c9;
    border-radius: 8px;
    padding: 10px;
  }

  section.about-us h2 {
    grid-column: 1/3;
  }

  section.about-us img {
    width: 33%;
  }
  /*-------- end of large ABOUT-US SECTION --------*/

  /*-------- large BENEFITS SECTION --------*/
  section.benefits {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
  }

  section.benefits h2 {
    grid-column: 1/4;
  }
  /*-------- end of large BENEFITS SECTION --------*/

  /*-------- large CALL-TO-ACTION SECTION --------*/
  /* no change */

  /*-------- large FOOTER --------*/
  footer div.content-width {
    display: grid;
    grid-template-columns: 1fr 3fr 7fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-items: start;
  }

  footer div.content-width img.logo {
    grid-row: 1/3;
    grid-column: 1;
  }

  footer nav {
    grid-row: 1;
    grid-column: 2/4;
    width: 40%;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer div.container {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  footer p.address {
    grid-row: 2;
    grid-column: 3;
    margin: 0;
  }
  /*-------- end of large FOOTER --------*/
}